body{
    background-color: rgb(34, 34, 34);
    font-family: sans-serif;
    margin: 0;
}

main{
    height: 100vh;
}



/*********NAVBAR STYLES**********/
header{
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-between;
    color: rgb(249, 251, 255);
    padding: 20px;
}

header section{
    display: flex;
}

.titles{
    gap: 2.2vh;
    align-items: center;
}

.titles h1{
    font-size: 20px;
}

.titles h2{
    font-size: 15px;
}

.filters{
    align-items: center;
    gap: 1vh;
}

.filters h2{
    color: rgb(54, 131, 177);
    font-size: 15px;
    margin-right: 1dvh;
}

.filters label{
    font-size: 14px;
}

.input-text{
    padding: 10px;
    border-radius: 5px;
}

.filters button{
    background-color: inherit;
    border: 1px solid rgb(54, 131, 177);
    color: rgb(54, 131, 177);
    cursor: pointer;
    padding: 9px;
    border-radius: 5px;

}
/*********FORM STYLES**********/

.form{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    color: white;
    padding: 3vh;
    height: 3vh;
    gap: 20px;
}

.form div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
}

.form button{
    width: 30vh;
    background-color: #4cf;
    height: 100%;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*********TABLE STYLES**********/

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

table{
    width: 80%;
    color:#F9FBFF;
    text-align: start;
    border-collapse: separate;
}

td, th {
    text-align: start;
}

tr{
    padding: 0;
}
td{
    padding: 1vh 5vh 1vh 0vh;
    margin: 0;
    font-weight: 100;
    text-align: start;
}

td button, .form button{
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
    color: #F9FBFF;
}

.update-button{
    background-color: #09f;
}

.delete-button{
    background-color: #f55;

}

.td-buttons{
    display: flex;
    justify-content: end;
    gap: 1vh;

}

/*MODAL UPDATE WINDOW*/

.update-modal{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;


}

.update-modal .form{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35%;
    width: 30%;
    
}

.update-modal button{
    width: 10vh;
    background-color: #4cf;
    height: 20%;
}

.update-modal input{
    width: 100%;
    border: none;
    padding: 5px;
}


/*ANIMACIONES-TRANSICIONES*/

input:focus{
    outline: none;
}

button:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

button:active{
    transform: scale(0.95);
    transition: 0.2s;
}

button{
    transition: 0.5s;
}